.title-text { 
	color: DarkBlue; 
	text-align: center; 
	font-weight: bold; 
	font-size: 50px; 
	font-family: "Segoe UI", Frutiger, 
	"Frutiger Linotype", "Dejavu Sans", 
	"Helvetica Neue", Arial, sans-serif; 
	}